@font-face 
{
    font-family: opificio_light_rounded;
    src: url(../fonts/opificio_light_rounded.ttf);
}

*
{
    font-family: opificio_light_rounded;
    margin: 0;
    padding: 0;
}

.parte1
{
    background: url("../img/bg1.png");
    background-size: cover;
    background-position: center;
    height: 700px;
}

.parte2
{
    background: url("../img/bg2.png");
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.parte3
{
    background: url("../img/bg3.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
}


.parte3 h1
{
    padding-top: 10%;
}


.butn
{
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    transition: 0.5s;
    margin-left: 10px;
}

.butn:hover
{
    transition: 0.5s;
    background-color: #008C9E;
    border-color: #008C9E;
}

.move-btn
{
    margin-top: 50px;
}

.font-tam h1
{
    font-size: 50px;
}

.font-tam p
{
    font-size: 30px;
}

.alto
{
    margin-top: 100px;
    height: 400px;
}

.centrar
{
    margin-left: 20%;
}